<todo>
  <div>
    <h2>todo app</h2>
    <div>
    </div>
  </div>
  <script>
    /** Load the custom button **/

    export default {
        state: {
            todos: []
        },
        onMounted() {
            console.log("todo monted!")
        }
    }
  </script>
</todo>